layouts/episode_213/goa1.loading.dtd

<!ELEMENT Ship_design (Output_time,Loading_conditions,Pias_loading_output)>
  <!ELEMENT Output_time (#PCDATA)>
  <!ELEMENT Loading_conditions (Loading_condition+)>
    <!ELEMENT Loading_condition (Loading_condition_name,Loading_condition_guid,Weight_items)>
      <!ELEMENT Loading_condition_name (#PCDATA)>
      <!ELEMENT Loading_condition_guid (#PCDATA)>
      <!ELEMENT Weight_items (Weight_item+)>
        <!ELEMENT Weight_item (Name,Type_of_weight_item,Weight,Longitudinal_centre_of_gravity,Transverse_centre_of_gravity,Vertical_centre_of_gravity,Free_surface_moment,Filling,Density,Aft_longitudinal_boundary,Forward_longitudinal_boundary,Weight_group_name,Maximum_tank_volume,Geometrical_defined_weight_item)>
          <!ELEMENT Name (#PCDATA)>
          <!ELEMENT Type_of_weight_item (#PCDATA)>
          <!ELEMENT Weight (#PCDATA)>
          <!ELEMENT Longitudinal_centre_of_gravity (#PCDATA)>
          <!ELEMENT Transverse_centre_of_gravity (#PCDATA)>
          <!ELEMENT Vertical_centre_of_gravity (#PCDATA)>
          <!ELEMENT Free_surface_moment (#PCDATA)>
          <!ELEMENT Filling (#PCDATA)>
          <!ELEMENT Density (#PCDATA)>
          <!ELEMENT Aft_longitudinal_boundary (#PCDATA)>
          <!ELEMENT Forward_longitudinal_boundary (#PCDATA)>
          <!ELEMENT Weight_group_name (#PCDATA)>
          <!ELEMENT Maximum_tank_volume (#PCDATA)>
          <!ELEMENT Geometrical_defined_weight_item (Loaded,Length,Breadth,Height,Local_longitudinal_centre_of_gravity,Local_transverse_centre_of_gravity,Local_vertical_centre_of_gravity,Angle_with_centreline_plane,Group_abbreviation)>
            <!ELEMENT Loaded (#PCDATA)>
            <!ELEMENT Length (#PCDATA)>
            <!ELEMENT Breadth (#PCDATA)>
            <!ELEMENT Height (#PCDATA)>
            <!ELEMENT Local_longitudinal_centre_of_gravity (#PCDATA)>
            <!ELEMENT Local_transverse_centre_of_gravity (#PCDATA)>
            <!ELEMENT Local_vertical_centre_of_gravity (#PCDATA)>
            <!ELEMENT Angle_with_centreline_plane (#PCDATA)>
            <!ELEMENT Group_abbreviation (#PCDATA)>
  <!ELEMENT Pias_loading_output (Intact_stability_results,Longitudinal_strength_results,Damage_stability_results)>
    <!ELEMENT Intact_stability_results (Intact_stability_result+)>
      <!ELEMENT Intact_stability_result (Loading_condition_guid,Hydrostatics,Angled_stability_results,Openings,Statical_angle_of_heel_port,Statical_angle_of_heel_starboard,Statical_angle_of_heel,Downflooding_angle_port,Downflooding_angle_starboard,Downflooding_angle,Stability_requirements,Maximum_vertical_centre_of_gravity_port,Maximum_vertical_centre_of_gravity_starboard,Maximum_vertical_centre_of_gravity,Loading_condition_complies)>
        <!ELEMENT Loading_condition_guid (#PCDATA)>
        <!ELEMENT Hydrostatics (Drafts,Trim_on_perpendiculars,Angle_of_trim,Moulded_volume,Transverse_metacentric_height,Gm_transverse,Gm_transverse_correctedforfsm,Gg_fsm_correction,Vertical_centre_of_gravity_correctedforfsm)>
          <!ELEMENT Drafts (Draft_at_ap,Draft_at_amidship,Draft_at_fp,Draft_marks)>
            <!ELEMENT Draft_at_ap (#PCDATA)>
            <!ELEMENT Draft_at_amidship (#PCDATA)>
            <!ELEMENT Draft_at_fp (#PCDATA)>
            <!ELEMENT Draft_marks (Draft_mark)>
              <!ELEMENT Draft_mark (Name,Draft)>
                <!ELEMENT Name (#PCDATA)>
                <!ELEMENT Draft (#PCDATA)>
          <!ELEMENT Trim_on_perpendiculars (#PCDATA)>
          <!ELEMENT Angle_of_trim (#PCDATA)>
          <!ELEMENT Moulded_volume (#PCDATA)>
          <!ELEMENT Transverse_metacentric_height (#PCDATA)>
          <!ELEMENT Gm_transverse (#PCDATA)>
          <!ELEMENT Gm_transverse_correctedforfsm (#PCDATA)>
          <!ELEMENT Gg_fsm_correction (#PCDATA)>
          <!ELEMENT Vertical_centre_of_gravity_correctedforfsm (#PCDATA)>
        <!ELEMENT Angled_stability_results (Angled_stability_result+)>
          <!ELEMENT Angled_stability_result (Angle_of_heel,Displacement,Draft_at_amidship,Trim_on_perpendiculars,Kn_transverse,Righting_arm,Dynamical_stability)>
            <!ELEMENT Angle_of_heel (#PCDATA)>
            <!ELEMENT Displacement (#PCDATA)>
            <!ELEMENT Draft_at_amidship (#PCDATA)>
            <!ELEMENT Trim_on_perpendiculars (#PCDATA)>
            <!ELEMENT Kn_transverse (#PCDATA)>
            <!ELEMENT Righting_arm (#PCDATA)>
            <!ELEMENT Dynamical_stability (#PCDATA)>
        <!ELEMENT Openings (Opening+)>
          <!ELEMENT Opening (Name,Type,Flooding_angle,Distance_to_waterline)>
            <!ELEMENT Name (#PCDATA)>
            <!ELEMENT Type (#PCDATA)>
            <!ELEMENT Flooding_angle (#PCDATA)>
            <!ELEMENT Distance_to_waterline (#PCDATA)>
        <!ELEMENT Statical_angle_of_heel_port (#PCDATA)>
        <!ELEMENT Statical_angle_of_heel_starboard (#PCDATA)>
        <!ELEMENT Statical_angle_of_heel (#PCDATA)>
        <!ELEMENT Downflooding_angle_port (#PCDATA)>
        <!ELEMENT Downflooding_angle_starboard (#PCDATA)>
        <!ELEMENT Downflooding_angle (#PCDATA)>
        <!ELEMENT Stability_requirements (Stability_requirements_name,Calculated_port,Calculated_starboard)>
          <!ELEMENT Stability_requirements_name (#PCDATA)>
          <!ELEMENT Calculated_port (Stability_requirement+)>
            <!ELEMENT Stability_requirement (Name,Unit_of_measurement,Required_value,Actual_value,Complies)>
              <!ELEMENT Name (#PCDATA)>
              <!ELEMENT Unit_of_measurement (#PCDATA)>
              <!ELEMENT Required_value (#PCDATA)>
              <!ELEMENT Actual_value (#PCDATA)>
              <!ELEMENT Complies (#PCDATA)>
          <!ELEMENT Calculated_starboard (Stability_requirement+)>
            <!ELEMENT Stability_requirement (Name,Unit_of_measurement,Required_value,Actual_value,Complies)>
              <!ELEMENT Name (#PCDATA)>
              <!ELEMENT Unit_of_measurement (#PCDATA)>
              <!ELEMENT Required_value (#PCDATA)>
              <!ELEMENT Actual_value (#PCDATA)>
              <!ELEMENT Complies (#PCDATA)>
        <!ELEMENT Maximum_vertical_centre_of_gravity_port (#PCDATA)>
        <!ELEMENT Maximum_vertical_centre_of_gravity_starboard (#PCDATA)>
        <!ELEMENT Maximum_vertical_centre_of_gravity (#PCDATA)>
        <!ELEMENT Loading_condition_complies (#PCDATA)>
    <!ELEMENT Longitudinal_strength_results (Longitudinal_strength_result+)>
      <!ELEMENT Longitudinal_strength_result (Loading_condition_guid,Draft_at_amidship,Trim_on_perpendiculars,Maximum_actual_still_water_shear_force,Longitudinal_position_maximum_actual_still_water_shear_force,Maximum_actual_still_water_bending_moment,Longitudinal_position_maximum_actual_still_water_bending_moment,Longitudinal_strength_at_positions,Read_out_points,Loading_condition_complies)>
        <!ELEMENT Loading_condition_guid (#PCDATA)>
        <!ELEMENT Draft_at_amidship (#PCDATA)>
        <!ELEMENT Trim_on_perpendiculars (#PCDATA)>
        <!ELEMENT Maximum_actual_still_water_shear_force (#PCDATA)>
        <!ELEMENT Longitudinal_position_maximum_actual_still_water_shear_force (#PCDATA)>
        <!ELEMENT Maximum_actual_still_water_bending_moment (#PCDATA)>
        <!ELEMENT Longitudinal_position_maximum_actual_still_water_bending_moment (#PCDATA)>
        <!ELEMENT Longitudinal_strength_at_positions (Longitudinal_strength_at_position+)>
          <!ELEMENT Longitudinal_strength_at_position (Longitudinal_position,Weight,Buoyancy,Shear_force,Bending_moment,Angular_rotation,Sagging)>
            <!ELEMENT Longitudinal_position (#PCDATA)>
            <!ELEMENT Weight (#PCDATA)>
            <!ELEMENT Buoyancy (#PCDATA)>
            <!ELEMENT Shear_force (#PCDATA)>
            <!ELEMENT Bending_moment (#PCDATA)>
            <!ELEMENT Angular_rotation (#PCDATA)>
            <!ELEMENT Sagging (#PCDATA)>
        <!ELEMENT Read_out_points (Shear_force_results,Bending_moment_results)>
          <!ELEMENT Shear_force_results (Read_out_point+)>
            <!ELEMENT Read_out_point (Longitudinal_position,Shear_force,Maximum_permissible_still_water_shear_force,Complies)>
              <!ELEMENT Longitudinal_position (#PCDATA)>
              <!ELEMENT Shear_force (#PCDATA)>
              <!ELEMENT Maximum_permissible_still_water_shear_force (#PCDATA)>
              <!ELEMENT Complies (#PCDATA)>
          <!ELEMENT Bending_moment_results (Read_out_point+)>
            <!ELEMENT Read_out_point (Longitudinal_position,Bending_moment,Maximum_permissible_still_water_bending_moment,Complies)>
              <!ELEMENT Longitudinal_position (#PCDATA)>
              <!ELEMENT Bending_moment (#PCDATA)>
              <!ELEMENT Maximum_permissible_still_water_bending_moment (#PCDATA)>
              <!ELEMENT Complies (#PCDATA)>
        <!ELEMENT Loading_condition_complies (#PCDATA)>
    <!ELEMENT Damage_stability_results (Damage_stability_result+)>
      <!ELEMENT Damage_stability_result (Loading_condition_guid,Damage_cases,Loading_condition_complies)>
        <!ELEMENT Loading_condition_guid (#PCDATA)>
        <!ELEMENT Damage_cases (Damage_case+)>
          <!ELEMENT Damage_case (Name,Flooding_stages)>
            <!ELEMENT Name (#PCDATA)>
            <!ELEMENT Flooding_stages (Flooding_stage+)>
              <!ELEMENT Flooding_stage (Stage_of_flooding,Openings,Damaged_compartments,Angled_stability_results,Statical_angle_of_heel_port,Statical_angle_of_heel_starboard,Statical_angle_of_heel,Stability_requirements)>
                <!ELEMENT Stage_of_flooding (#PCDATA)>
                <!ELEMENT Openings (Opening+)>
                  <!ELEMENT Opening (Name,Type,Flooding_angle,Distance_to_waterline)>
                    <!ELEMENT Name (#PCDATA)>
                    <!ELEMENT Type (#PCDATA)>
                    <!ELEMENT Flooding_angle (#PCDATA)>
                    <!ELEMENT Distance_to_waterline (#PCDATA)>
                <!ELEMENT Damaged_compartments (Angle_of_heel,Damaged_compartment+)>
                  <!ELEMENT Angle_of_heel (#PCDATA)>
                  <!ELEMENT Damaged_compartment (Name,Intact_weight,Intact_density,Damaged_weight,Damaged_density)>
                    <!ELEMENT Name (#PCDATA)>
                    <!ELEMENT Intact_weight (#PCDATA)>
                    <!ELEMENT Intact_density (#PCDATA)>
                    <!ELEMENT Damaged_weight (#PCDATA)>
                    <!ELEMENT Damaged_density (#PCDATA)>
                <!ELEMENT Angled_stability_results (Angled_stability_result+)>
                  <!ELEMENT Angled_stability_result (Angle_of_heel,Displacement,Draft_at_amidship,Trim_on_perpendiculars,Kn_transverse,Righting_arm,Dynamical_stability)>
                    <!ELEMENT Angle_of_heel (#PCDATA)>
                    <!ELEMENT Displacement (#PCDATA)>
                    <!ELEMENT Draft_at_amidship (#PCDATA)>
                    <!ELEMENT Trim_on_perpendiculars (#PCDATA)>
                    <!ELEMENT Kn_transverse (#PCDATA)>
                    <!ELEMENT Righting_arm (#PCDATA)>
                    <!ELEMENT Dynamical_stability (#PCDATA)>
                <!ELEMENT Statical_angle_of_heel_port (#PCDATA)>
                <!ELEMENT Statical_angle_of_heel_starboard (#PCDATA)>
                <!ELEMENT Statical_angle_of_heel (#PCDATA)>
                <!ELEMENT Stability_requirements (Stability_requirements_name,Calculated_port,Calculated_starboard)>
                  <!ELEMENT Stability_requirements_name (#PCDATA)>
                  <!ELEMENT Calculated_port (Stability_requirement+)>
                    <!ELEMENT Stability_requirement (Name,Unit_of_measurement,Required_value,Actual_value,Complies)>
                      <!ELEMENT Name (#PCDATA)>
                      <!ELEMENT Unit_of_measurement (#PCDATA)>
                      <!ELEMENT Required_value (#PCDATA)>
                      <!ELEMENT Actual_value (#PCDATA)>
                      <!ELEMENT Complies (#PCDATA)>
                  <!ELEMENT Calculated_starboard (Stability_requirement+)>
                    <!ELEMENT Stability_requirement (Name,Unit_of_measurement,Required_value,Actual_value,Complies)>
                      <!ELEMENT Name (#PCDATA)>
                      <!ELEMENT Unit_of_measurement (#PCDATA)>
                      <!ELEMENT Required_value (#PCDATA)>
                      <!ELEMENT Actual_value (#PCDATA)>
                      <!ELEMENT Complies (#PCDATA)>
        <!ELEMENT Loading_condition_complies (#PCDATA)>
